<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean Definition -->
   <bean id="pt1" class="org.example.xml.Petrol"></bean>

    <bean id="ds1" class="org.example.xml.Diesel"></bean>
    <bean id="vehicle" class="org.example.xml.Vehicle">
        <property name="engine" ref="pt1"></property>
    </bean>
</beans>
